@import "_fonts";
@import "_reset";
@import "_variables";
@import "_buttons";
@import "_body";

@import "flexbox/_main";

@import "plugins/_highlight";
@import "plugins/_applause";

@import "partials/_header";
@import "partials/_footer";

@import "partials/_section-comments";
@import "partials/_section-welcome";
@import "partials/_section-loop";
@import "partials/_section-all";
@import "partials/_section-tag";

@import "partials/_post-teaser";
@import "partials/_post";

.notification-area {
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #99ea02;
  padding: 1rem;
  box-sizing: border-box;
}

.billing-cancel .notification-area {
  background-color: #ccc;
}

.message-success,
.message-error {
  display: none;
}

.message-error,
[data-members-error] {
  color: red;
}

.message-success {
  color: green;
}

.loading button span,
.error button span,
.success button span {
  display: none;
}

.loading button::after {
  content: "Loading...";
}

.error button::after {
  content: "Error.";
}

.success button::after {
  content: "Done!";
}

.success~.message-success,
.invalid~.message-error,
.error~.message-error {
  display: block;
}